{% load octicons %}
<style>
    .btn-outline-warning {
        color: black;
        border-radius: 2em;
        border-width: 3px;
        height: 36px;
        line-height: 5px;
    }

    nav{
        padding: 5rem;
        padding-right: 25rem;
        padding-left: 25rem;
    }
</style>
<script src="https://kit.fontawesome.com/df0269d983.js" crossorigin="anonymous"></script>
<nav class="navbar navbar-light" style="background-color:; height: 7em;">
    <a class="navbar-brand mb-0" href="{% url 'main'%}"><h2 style="font-style: italic;"><strong>⠀Untitled</strong></h2></a>

    <div style="text-align: right;">
        <!-- 일단 이걸로 사용을 하고, 나중에 user 추가되면 밑에 껄로 사용 -->
        <!-- 여기에 회원가입/로그아웃 등도 추가해서 사용 -->
        {% if user.is_authenticated %}
        <div>
            <a type="button" style="border-radius: 2em; width:20px" onclick="location.href='{% url 'new' %}'"><i class="fas fa-pen-nib"></i></a>
            <a type="button" style="border-radius: 2em; width:50px" onclick="location.href='{% url 'compile_book' %}'"><i class="fas fa-journal-whills"></i></a>
            <a type="button" style="border-radius: 2em; width:50px" onclick="location.href='{% url 'profile' %}'"><i class="fas fa-user"></i></a>
            <a type="button" style="border-radius: 2em; width:50px" onclick="location.href='{% url 'logout' %}'"><i class="fas fa-sign-out-alt"></i></a>
            
        </div>
        {%else%}
        <a type="button" style="border-radius: 2em;  width:50px" onclick="location.href='{% url 'signin' %}'"><i class="fas fa-sign-in-alt"></i></a>
        <a type="button" style="border-radius: 2em;  width:50px" onclick="location.href='{% url 'signup' %}'"><i class="fas fa-user-plus"></i></a>
        {%endif%}
    </div> <!-- 버튼 클릭시 변화가 일어나는 효과도 적용할까? 그건 나중에 -->
</nav>

