{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <a href="{% url 'novel' novel.id%}" style="font-family:Georgia"> ⇦ Novel Detail</a>
    <style>
        body {
            background-color: whitesmoke;   
            padding:5rem;
            padding-right: 25rem;
            padding-left: 25rem;
            position: relative;
        }


    </style>
</head>




<body>
    <div class="row" >
        <div class="col-md-2" style="padding-top: 10px; position:relative; top:50px;">    
            <div id="list-example" class="list-group">
                <a class="list-group-item list-group-item-action" href="#list-item-1">
                    <h5>{{novel.title}}</h5>
                    {{novel.author}}
                </a>
                <a class="list-group-item list-group-item-action" href="#list-item-3">Content</a>
            </div>
        </div>


        <div class="col-md-9">
            <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example" style="height: 600px;overflow: auto;">
                <div id="list-item-1" style="text-align: center;height:100%;">
                    <table width="700" height="300" align="center" style="margin-top:25%">
                        <!-- 이게 왜 되지? -->
                        <tr>
                            <td rowspan="6">
                                {% if novel.novelImage %}
                                <img src="{{novel.novelImage.url}}">
                                {% endif %}
                            </td>
                            <td><h3>{{novel.title}}</h3></td>
                        </tr>
                        <tr>
                            <td>{{novel.author}}</td>
                        </tr>
                    </table>
                </div>
                <hr>
                <h4 id="list-item-3" style="padding-left: 20px;">Content</h4>
                <br>
                <p style="padding:1px 50px">{{novel.novelContent}}</p>
                </div>
        </div>
    </div>

</body>

</html>
{% endblock %}