{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        #header {
            background-color: lightpink;
            height: 56px;
        }

        #menu {
            background-color: mediumaquamarine;
            height: 50px;
        }

        #main {
            /* background-color: lightskyblue; */
            height: 2000px;
        }

        #footer {
            background-color: lightgoldenrodyellow;
            height: 100px;
        }

        #rectangle {
            width: 140px;
            height: 180px;
            background: lightgray;
        }
    </style>
</head>

<body>
    <!-- My Page와 Login/Logout 버튼이 포함된 Navbar -->
    <nav class="navbar navbar-light" style="background-color: lightgray;">
        <a class="navbar-brand mb-0 h1" href="#">Untitled</a>
        <div style="background-color: lightgray; ">
            <a class="navbar-brand mb-0 h1" href = "{% url 'new'%}">글쓰기</a>
        </div>
        <div style="text-align: right;">
            <button type="button" class="btn btn-warning mr-sm-2"
                style="width: 120px; text-align: right; border-radius: 2em;">My
                Page
            </button> <!-- 추후 남는 공간에 사람모양 아이콘 추가-->
            <div> 
                {% if user.is_authenticated %} 
                    <h3>안녕하세요 {{user.username}}님</h3>
                    <a href="{% url 'logout'%}">로그아웃</a>
                {% else %}
                <a href="{% url 'signin'%}">로그인</a>       
                <a href="{% url 'signup'%}">회원가입</a>
                <form method="POST" action="/signin">
                    {% csrf_token %}
                    {{ signin_form.as_p }}
                    <input type="submit" value="submit">
                </form>
                {% endif %}
            </div>
                <!-- <a class=class="btn btn-warning mr-sm-2" href="{% url 'signin' %}">로그인</a>
                {% if user.is_authenticated %}
                <h2 class="masthead-subheading mb-0"> hello {{ user.username }} </h2>
                {% else %}
                <h2 class="masthead-subheading mb-0">hello likelion 8th</h2>
                <a href="{% url 'signup' %}"> 회원가입하기 </a>
      
                 <form method="POST" action="/signin">
                 {% csrf_token %}
                 {{ signin_form.as_p }}
                 <input type="submit" value="submit">
                 </form>

                {% endif %} -->
            <!-- <button type="button" class="btn btn-warning mr-sm-2" style="border-radius: 2em;">
                <a href="{% url 'signin' %}"></a>Login
            </button> -->
        </div> <!-- 버튼 클릭시 변화가 일어나는 효과도 적용할까? 그건 나중에 -->
    </nav>

    <!-- Book과 Novel의 목록을 선택할 수 있도록 하는 Navbar -->
    <div style="display: inline;">
        <nav class="navbar navbar-light" style="background-color:#FFC007; width: 50%; float: left;">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link mb-0 h5" href="#">Book <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </nav>
        <nav class="navbar navbar-light" style="background-color:#FFC007; width: 50%;">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link mb-0 h5" href="#" style="text-align: center;">Novel</a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- 목록을 보여주는 구간 -->
    <div id="main">
        <!-- {% comment %}
        {% for 카테고리의 수만큼 %}
            {% if 카테고리가 존재하면 %}
                <div>
                카테고리.이름 : 카테고리.미리설정해둔문구
                ## 일단 회색 책 칸은 6개만 나오게 그리구 ##
                ## 차례대로 존재하는 book or novel만 사진에 올리기 ##
                </div>
            {% endif %}
            <hr>
        {% endfor %}
        {% endcomment %} -->

        <div style="margin-left: 2em;">
            <div style="margin-top: 1em;">
                <h2>
                    <span>문학/소설 : 감성 채우기에 딱!</span>
                    <span style="float: right; margin-right: 20%;">></span>
                </h2>
            </div> <!-- 나중에 이 div 영역 전체를 클릭 후 이동할 수 있는 식으로 변경 -->

            <div style="max-width: 800px;">
                <div id="rectangle" style="margin: 5% 5% 5% 5%; display: inline-block;"></div>
                <div id="rectangle" style="margin: 5% 5% 5% 5%; display: inline-block;"></div>
                <div id="rectangle" style="margin: 5% 5% 5% 5%; display: inline-block;"></div>
                <div id="rectangle" style="margin: 5% 5% 5% 5%; display: inline-block;"></div>
                <div id="rectangle" style="margin: 5% 5% 5% 5%; display: inline-block;"></div>
                <div id="rectangle" style="margin: 5% 5% 5% 5%; display: inline-block;"></div>
            </div>


        </div>
        <hr>
    </div>

   
    <!-- Footer 구간 -->
    <div id="footer">
        footer
    </div>



</body>

</html>
{% endblock %}