{% extends 'base.html' %}

{% block content %}
<style>
        body {
            background-color: whitesmoke;
        }

        .padding{
            padding-right: 20rem;
            padding-left: 20rem;
        }
</style>

<br>
<div class = "container">
    <form method = "POST" action ="{% url 'new'%}" enctype="multipart/form-data">
        {%csrf_token%}
        <div style = "text-align: left;">
            <table>
                {{form.as_table}}
            </table>
                <input class = "btn btn-dark" type = "submit" value="글쓰기">
        </div>
    </form>
</div>

{% endblock %}