{% extends 'base.html' %}

{% block content %}
<style>
    body {
        background-color: whitesmoke;
    }

    .padding {
        padding-right: 10rem;
        padding-left: 10rem;
    }

    @font-face {
        font-family: 'NanumMyeongjo';
        src: url('https://pub-1.scdn.pw/fonts/NanumFont/woff/NanumMyeongjo.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
</style>

<br>
<div class="container padding">
    <form method="POST" action="{% url 'new'%}" enctype="multipart/form-data">
        {%csrf_token%}
        <div style="position: relative;top:-220px">
            <div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
                <div class="max-w-md w-full">
                    <div>
                        <h2 class="mt-6 text-center text-4xl leading-9 font-extrabold text-gray-900"
                            style="font-family: NanumMyeongjo; color: #003a3d;">
                            집필하기
                        </h2>
                    </div>
                    <br>
                    <form class="mt-8" method="POST">
                        {% csrf_token %}
                        <div style="position: relative; right: -10em;">
                            <table>
                                {{form.as_table}}
                            </table>
                        </div>

                        <div style="position: relative; right: -33.5em;">
                            <input class="btn btn-dark" type="submit" value="집필">
                        </div>
                </div>
    </form>
</div>

{% endblock %}