{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <a href="{% url 'novel_list' %}" style="font-family:Georgia"> ⇦ Home </a>
    <style>
        body {
            background-color: whitesmoke;   
            padding:5rem;
            padding-right: 25rem;
            padding-left: 25rem;
        }

    </style>

</head>





<body>

    <div>
        <table width="100%" height="300" align = "center">
            <tr>
                <td rowspan="6" style="text-align: center; width: 18rem; height: fit-content;">
                    {% if novel.novelImage %}
                    <img src="{{novel.novelImage.url}}" style="width: 100%; ">
                    {% endif %}
                </td>
                <td><h3>{{novel.title}}</h3></td>
            </tr>
            <tr>
                <td>{{novel.author}}</td>
            </tr>
            <tr>
                <td>{{novel.publisher}}</td>
            </tr>
            <tr>
                <td>{{novel.writingDate}}</td>
            </tr>
            <tr>
                <td>{{novel.novelCategory}}</td>
            </tr>
            <tr>
                <td>novel price = ₩{{novel.novelPrice}}</td>
            </tr>
        </table>
        
    </div>
    
    <!-- 2 태그(리뷰) -->
    <!-- #이 알아서 앞에 달리게 하고싶다 -->
    <hr>
    <div>
        <h5># Comment TAG</h5>
        <br>
        <form action="/Books/commenting/{{novel.id}}" method="POST">
            {% csrf_token %}
            <input type="text" name="body" placeholder="tag your comment">
            <button type="submit">Submit</button>
        </form>

        <!-- django-taggit. 사용하지 않기로 함!
        {%comment%} 
            <div>
            <b>TAGS</b>
            {% load taggit_templatetags2_tags %}
            {% get_tags_for_object novel as "tags" %}
            {% for tag in tags %}
            <a href="{% url 'tagged_object_list' tag.name %}">{{tag.name}}</a>
            {% endfor %}
        &emsp;
            <a href="{% url 'tag_cloud' %}"> <span class="btn btn-info btn-sm">TagCloud</span> </a>
        </div>
        {%endcomment%}
        -->
    </div>

    <hr>

    <!-- 하단 태그바에 3+4+5 -->
    <!-- 3 좋아요 -->
    <!-- 4 바로읽기 -->
    <!-- 5 엮기(내 Book에 넣기) -->

    <div class="container jumbotron"> 
        <div class="row"> 

            <div class="col-md-4" style="text-align:center;">
                <form action="/Books/like/{{novel.id}}" method="GET">
                    <button type="submit"> LIKE </button>
                </form>
            </div>

            <div class="col-md-4" style="text-align:center;">
                <a href="{% url 'content' novel.id %}">바로 읽기</a>
            </div> 

            <!-- 단편집에 담기 어떻게 할지 고민 -->
            <div class="col-md-4" style="text-align:center;">
                <a href="{% url 'content' novel.id %}">단편집에 담기</a>
            </div>
        </div>
    </div>

</body>

</html>
{% endblock %}
