{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <style>
        body {
            background-color: whitesmoke;
        }

        .padding {
            padding-right: 20rem;
            padding-left: 20rem;
        }

        .rectangle {
            width: 140px;
            height: 180px;
            background: lightgray;
            margin: 2rem 2rem 0.5rem 2rem;
            display: inline-block;
            cursor: pointer;
        }

        .nav-item{
            margin: 0 2em 0 2em;
        }
    </style>
</head>

<body>
    <div class="padding" style="position: relative; top: -13em; right: -7%;">

        <div class="card" style="position: relative; width: 50em; height: 16em; background-color: olivedrab;">
            <div class="card-body">
                <span>포인트 : {{user.point}}</span>
                <center><img alt=""
                        src="https://www.nicepng.com/png/full/136-1366211_group-of-10-guys-login-user-icon-png.png"
                        width="100">
                    <div class="card-info"> <span class="card-title">
                            <h3 style="color: whitesmoke; position: relative; top: 0em;">
                                <strong>{{user.username}}님, 환영합니다.</strong></h3>
                        </span></div>
                </center>


                    <ul class="nav justify-content-center" style="margin-top: 1em;">
                        <div>
                            <li class="nav-item">
                                <a class="list-group-item list-group-item-action" href="#tab1" data-toggle="tab">내가 작성한 도서</a>
                            </li>
                        </div>
                        <div>
                            <li class="nav-item">
                                <a class="list-group-item list-group-item-action" href="#tab2" data-toggle="tab">내가 구매한 도서</a>
                            </li>
                        </div>
                        <div>
                            <li class="nav-item">
                                <a class="list-group-item list-group-item-action" href="#tab3" data-toggle="tab">내가 좋아한 도서</a>
                            </li>
                        </div>
                    </ul>

            </div>
        </div>

        <!-- ######################################################################################################## -->

        <div class="card text-center" style="width: 50em; height: fit-content; background-color: whitesmoke; border: 2px solid rgb(167, 167, 167);">
            <div class="card-body">
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1" style="margin-left: 5.5em;">
                            {%for novel in written_novel%}
                            <div class="box" style="width: fit-content; height :fit-content; float: left;">
                                <div class="rectangle" onclick="location.href='{% url 'novel' novel.id %}' ">
                                    {% if novel.novelImage %}
                                    <img class="novel_img" src="{{novel.novelImage.url}}" alt=""
                                        style="height: 100%; width: 100%; object-fit: contain;">
                                    {% endif %}
                                </div>
                            </div>
                            {%endfor%}
                        </div>

                        <div class="tab-pane" id="tab2" style="margin-left: 5.5em;">
                            {% for novel in novels%}
                            <div class="box" style="width: fit-content; height :fit-content; float: left;">
                                <div class="rectangle" onclick="location.href='{% url 'novel' novel.id %}' ">
                                    {% if novel.novelImage %}
                                    <img class="novel_img" src="{{novel.novelImage.url}}" alt=""
                                        style="height: 100%; width: 100%; object-fit: contain;">
                                    {% endif %}
                                </div>
                            </div>
                            {%endfor%}
                        </div>

                        <div class="tab-pane" id="tab3" style="margin-left: 5.5em;">
                            {% for novel in like%}
                            <div class="box" style="width: fit-content; height :fit-content; float: left;">
                                <div class="rectangle" onclick="location.href='{% url 'novel' novel.id %}' ">
                                    {% if novel.novelImage %}
                                    <img class="novel_img" src="{{novel.novelImage.url}}" alt=""
                                        style="height: 100%; width: 100%; object-fit: contain;">
                                    {% endif %}
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ######################################################################################################## -->
</body>

</html>
{% endblock %}